@mixin light-theme {
  --foreground: #000000;  
  --background: #ffffff;
  --secondary: #4a4a4a;
  --tertiary: #f5f5f5;
  --accent: #0066cc;
  --table-border: #cccccc;
  --table-row: #f9f9f9;
}

@mixin dark-theme {
  --foreground: #ffffff;
  --background: #121212;
  --secondary: #b3b3b3;
  --tertiary: #2a2a2a;
  --accent: #66b3ff;
  --table-border: #444444;
  --table-row: #1a1a1a;
}

:root.light-mode {
    @include light-theme;

    #dark-mode-on {
        display: inline;
    }

    #dark-mode-off {
        display: none;
    }
}

:root.dark-mode {
    @include dark-theme;

    #dark-mode-on {
        display: none;
    }

    #dark-mode-off {
        display: inline;
    }
}

.dark-mode-buttons {
    position: absolute;

    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include light-theme;

        #dark-mode-on {
            display: inline;
        }

        #dark-mode-off {
            display: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme;

        #dark-mode-on {
            display: none;
        }

        #dark-mode-off {
            display: inline;
        }
    }
}

body {
    color: var(--foreground);
    background-color: var(--background);
}

.accent {
    color: var(--accent);
}
.secondary {
    color: var(--secondary);
}

a, a:link, a:visited {
    color: var(--accent);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.anchor {
    color: var(--table-row) !important;
}

.anchor:hover {
    color: var(--accent) !important;
}

:is(h1, h2, h3, h4, h5, h6):hover .anchor {
  color: var(--accent) !important;
}

blockquote {
    color: var(--secondary);
    border-left: 1px solid var(--accent);
    padding-left: 1em;
    margin-left: 0;
}

code {
    background-color: var(--tertiary);
}

pre {
    border: 1px solid var(--table-border)
}

pre code {
    background-color: transparent;
}

.footnote-definition sup {
    color: var(--secondary);
}

.footnotes {
    border-top: 1px solid var(--table-border);
}

.footnotes-list li {
    color: var(--secondary);

    p {
        color: var(--foreground);
    }
}

hr {
    border: none;
    border-bottom: 1px solid var(--table-border);
}

table {
    th, td {
        border-color: var(--table-border);
    }

    thead, tr:nth-child(even) {
        background-color: var(--table-row);
    }
}
